<% if( errorMsg ) { %>
 <div class="error-container">
    <div class="error-title">404</div>
    <div class="error-description">Oops! <%= errorMsg %></div>
    <p style="color: white;">The Job you are looking for might be in another universe.</p>
    <a href="/" class="error-button">Go back to Home <i class="fa-solid fa-house"></i></a>
</div>
<% } else { %>
    <div class="error-container">
        <div class="error-title">404</div>
        <div class="error-description">Oops! Page Not Found!</div>
        <p style="color: white;">The page you are looking for might be in another universe.</p>
        <a href="/" class="error-button">Go back to Home <i class="fa-solid fa-house"></i></a>
    </div>
<% } %>
