<div style="text-align: center; color: white; margin-top: -10%">
    <h1 style="margin-bottom: 100px;">Job Application Status for <%= companyName %></h1>
    <p>
      Hi dear, <%= message %>
    </p>
    <br>
    <a href="/" class="error-button">Go back to Home <i class="fa-solid fa-house"></i></a>
</div>